<footer class= "page-footer font-small bg-secundary pt-4"></footer>

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
<h4 class= "">Siga-nos nas redes sociais</h4>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <ul class= "social">
            <li>
                <a href= "" target= "_blank"></a>
            </li>
        </ul>
    </div>
</div>
</div>
<div class= "footer-copyright bg-dark text-center py-3">
    <span class= "text-white">Desenvolvido por Ícaro</span>
</div>
    </div>
</div>
