<style>
    @import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400&display=swap');
</style>
    
    <footer class= "page-footer background">
        <div class="container">
            <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <div class= "rodape">
            <img src= "assets/imagens/devfooteicon.svg" class= "me-4">
        <div class="label">O Desenvolvedor</div>
        <div class="spacer"></div>
        <a href= "https://www.linkedin.com/in/%C3%ADcaro-garcez-2162471b2/" target= "_blank"><div class="item"><span>LinkedIn</span></div></a>
        <a href= "https://github.com/icarogarcez" target= "_blank"><div class="item"><span>Github</span></div></a>
        <a href= "" target= "_blank"><div class="item"><span>Portfólio</span></div></a>
        <a href= "https://www.instagram.com/ideicaro/" target= "_blank"><div class="item"><span>Instagram</span></div></a>
        <a href= "https://open.spotify.com/user/iv4uxzvou83ekukl7s9xgq72x?si=0b3ed315b06344f7" target= "_blank"><div class="item"><span>Spotify</span></div></a>
      </div>
    </div>
</div>
</div>
    </footer>