/* Formulário de Input-Login */

div {
	font-family: 'Yantramanav', sans-serif;
}

/* Configurações do seletor */
.selector {
	border-color: #F2E3BC;
	border-radius: 0px;
	margin-top: 25px;
  margin-bottom: 0px;
	background-color: transparent;
	color:#fff;
}

option {
	color: #fff !important;
	background: rgba(0, 0, 0, 0.89) !important;
	text-decoration: none !important;
	}

.text-center {
	color: #fff;
	text-transform: uppercase;
	font-size: 23px;
	margin: -50px 0 65px 0;
	display: block;
	text-align: center;
}

/* Configurações dos inputs */

.box {
	float: right;
	display: flex;
	left: 50%;
	top: 50%;
	transform: translate(-25%, 2%);
	background-color: rgba(0, 0, 0, 0.89);
	border-radius: 3px;
	padding: 70px 70px;
	padding-bottom: 4px;
}

.input-container {
	position: relative;
	margin-bottom: 25px;
}

.input-container label {
	position: absolute;
	top: 0px;
	left: 0px;
	color: #fff;
}

.input-container input {
	border: 0;
	border-bottom: 1px solid #F2E3BC;
	background: transparent;
	width: 300px;
	padding: 8px 0px 5px 0px;
	color: #fff;
}

.input-container input:focus {
	border: none;
	outline: none;
	border-bottom: 1px solid #F2E3BC;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-18px;
	font-size:16px;

}

/* Configurações padrão - botões */

a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
}

/* Botão Cadastrar */

a.animated-button.botaocad {
  border: 1px solid #C19875;
  color: #FFF;
  text-transform: lowercase;
  font-size: 16px;
  text-align: center;
  border-radius: 0;
  letter-spacing: .08em;
  margin: 30px auto 0;
  padding: 13px 14px;
}

a.animated-button.botaocad:after {
  border: 3px solid #C19875;
  opacity: 0;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button.botaocad:hover:after {
  height: 600%;
  opacity: 1;
  color: #FFF;
}

/* Botão Cancelar */

a.animated-button.botaoent {
  color: #fff;
  display: block;
  text-transform: lowercase;
  position: relative;
  border: 1px solid #C19875;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  margin: 30px auto 0;
  padding: 13px 14px;
  border-radius: 0;
  font-weight: normal;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}

a.animated-button.botaoent:hover {
  color: #000;
  background-color: transparent;
}

a.animated-button.botaoent:hover:before {
  top: 0%;
  bottom: auto;
  height: 100% !important;
}

a.animated-button.botaoent:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000;
  background: #C19875;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  letter-spacing: .08em;
}
