<style>
  @import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400&display=swap');
</style>

<div class="container-fluid">
  <div class="box">
    <form>
      <span class="text-center">Cadastro</span>
      <div class="input-container">
        <input type="text" required="" />
        <label>Nome</label>
      </div>
      <div class="input-container">
        <input type="text" required="" />
        <label>Usuário</label>
      </div>
      <div class="input-container">
        <input type="text" required="" />
        <label>Link da foto</label>
      </div>
      <div class="input-container">
        <input type="password" required="" />
        <label>Senha</label>
      </div>
      <div class="input-container">
        <input type="password" required="" />
        <label>Confirmar senha</label>
        <div>
          <select class="form-select selector" aria-label="Default select example">
            <option selected>Tipo de usuário</option>
            <option value="1">Normal</option>
            <option value="2">Administrador</option>
          </select>
        </div>
        <div class="row d-flex justify-content-center">
          <a routerLink= '' class="btn btn-sm animated-button botaoent col-md-4">Cadastrar</a>
          <a routerLink= '/login' class="btn btn-sm animated-button botaocad col-md-6">Cancelar</a>
        </div>

      </div>
    </form>
  </div>
</div>